* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: 'Furore';
	src: url(../utils/Furore.woff2);
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Furore';
	/* font-family: 'Poppins', sans-serif; */
	background-color: #eedaae;
	overflow-x: hidden;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}
.bgi-top {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	/* right: 0; */
	width: 100vw;
	pointer-events: none;
}

.sun {
	width: 300px;
	position: absolute;
	top: 100px;
	left: 50%;
	z-index: -2;
	transform: translateX(-50%);
}

.bigRock {
	width: 300px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.bottom-rock {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-inline: auto;
	/* transform: translateX(-50%); */
	z-index: -1;
}

.right-rock {
	position: absolute;
	bottom: 0;
	right: 0;
}

@media (max-width: 800px) {
	.bottom-rock {
		width: 670px;
	}
	.bigRock {
		width: 200px;
	}
}

.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 60px;
}

.list {
	display: flex;
	gap: 3em;
	align-items: center;
	list-style: none;
}

.list__link {
	text-decoration: none;
	color: #000;
	font-size: 1.2rem;
	letter-spacing: 0.5px;
}

.vector {
	position: absolute;
	top: 100px;
	left: 230px;
	opacity: 0.2;
}

.hero {
	    height: calc(100vh - 210px);
	/* padding-block: 50px; */
	text-align: center;
}

.hero__title {
	text-transform: uppercase;
	font-size: 100px;
	font-weight: bold;
	color: #343434;
	line-height: 85px;
	text-align: center;
	margin-top: 130px;
}

.hero__subtitle {
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 300;
	color: #343434;
	padding-left: 20px;
	text-align: center;
}

.btn__wonna {
	text-transform: uppercase;
	background-color: #343434;
	border-radius: 25px;
	color: #fff;
	font-size: 16px;
	border: none;
	font-weight: 400;
	padding: 8px 40px;
	letter-spacing: 0.3px;
	text-decoration: none;
	display: inline-block;
	margin-top: 50px;
	font-family: "Furore";
	animation: sizes 0.8s ease-in-out alternate-reverse infinite;
}

@keyframes sizes {
	from {
		transform: scale(1.1);
	}

	to {
		transform: scale(1);
	}
}

.toprated {
	position: absolute;
	display: flex;
	right: 40px;
	bottom: 40px;
	gap: 30px;
	align-items: center;
}

.toprated__item {
	padding: 24px;
	border-radius: 10px;
	backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.toprated__title {
	font-size: 12px;
	color: #fff;
}

.toprated__desc {
	width: 170px;
	font-size: 10px;
	color: #fff;
}

.toprated__link {
	padding: 8px 14px;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	background-color: #60463b;
	display: inline-block;
	margin-top: 10px;
	font-size: 14px;
}

.section__title,
.gooods__title {
	font-size: 46px;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	/* margin-top: 600px; */
	/* font-weight: semibold; */
}

.section__subtitle {
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 40px;
}

.gooods__title {
	margin-top: 40px;
	margin-bottom: 50px;
	color: #343434;
}

.product {
	background-image: url(../img/popupHero.png);
	background-size: cover;
	background-repeat: no-repeat;
	/* margin-top: 160px; */
	background-position: center;
	padding-block: 120px;
}

.prodcut__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 1.5em;
}

.prodcut__list-item {
	border-radius: 10px;
	/* padding: 1em; */
	background-color: #202147;
	backdrop-filter: blur(5px);
	height: 100%;
	/* min-width: 355px; */
}

.prodcut__list-item img {
	height: 420px;
}
.prodcut__list-title {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #fff;
	font-size: 26px;
	font-weight: 400;
	text-align: center;

}

.wrapper__price {
	display: flex;
	align-items: center;
	flex-direction:column;
	padding: 1em 1em 2em;
	gap: 1.5em;
}

.price {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	padding-left: 20px;
}

.prodcut__list-link {
	padding: 14px 28px;
	text-transform: uppercase;
	color: #2e2e2e;
	text-decoration: none;
	background-color: #e13a4b;
	border-radius: 30px;
	width: 100%;
    text-align: center;
	border: none;
	outline: none;
	font-family: "Furore";
}

.buy {
	/* margin-block: 100px; */
	background-color: #60463b;
	padding: 20px;
}

.form {
	display: flex;
	justify-content: center;
}

.buy__field {
	padding: 10px;
	border-radius: 5px;
	outline: none;
	border: none;
	width: 400px;
	margin-right: 10px;
}

.buy__btn {
	padding: 10px 20px;
	border-radius: 5px;
	outline: none;
	border: none;
	background-color: #fff;
	color: #60463b;
	cursor: pointer;
	font-size: 18px;
	font-family: "Furore";
}

h6 {
	font-size: 80px;
	color: #fff;
	text-align: center;
	margin-top: 20px;
}

@media (max-width: 800px) {
	.toprated__item:first-child {
		display: none;
	}

	.toprated__item img {
		width: 130px;
	}
	.toprated-wrap {
		text-align: center;
	}
	.toprated__link {
		font-size: 10px;
	}
	.toprated__desc {
		width: 130px;
	}
	.container {
		max-width: 700px;
	}
	.hero {
		padding-block: 0;
	}
}

/* HOTLINE */
.phonering-alo-phone {
	position: fixed;
	visibility: hidden;
	background-color: transparent;
	width: 200px;
	height: 200px;
	cursor: pointer;
	z-index: 200000 !important;
	right: -60px;
	bottom: -60px;
	display: block;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transition: visibility 0.5s;
}
.phonering-alo-phone.phonering-alo-show {
	visibility: visible;
}
.phonering-alo-phone.phonering-alo-static {
	opacity: 0.6;
}
.phonering-alo-phone.phonering-alo-hover,
.phonering-alo-phone:hover {
	opacity: 1;
}
/* .phonering-alo-ph-circle {
	width: 160px;
	height: 160px;
	top: 20px;
	left: 20px;
	position: absolute;
	background-color: transparent;
	border-radius: 100%;
	border: 2px solid rgba(30, 30, 30, 0.4);
	opacity: 0.1;
	-webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
	animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
	transition: all 0.5s;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
} */
.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-circle {
	-webkit-animation: phonering-alo-circle-anim 1.1s infinite ease-in-out !important;
	animation: phonering-alo-circle-anim 1.1s infinite ease-in-out !important;
}
.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-circle {
	-webkit-animation: phonering-alo-circle-anim 2.2s infinite ease-in-out !important;
	animation: phonering-alo-circle-anim 2.2s infinite ease-in-out !important;
}
.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-circle,
.phonering-alo-phone:hover .phonering-alo-ph-circle {
	border-color: #202147;
	opacity: 0.5;
}
.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-circle,
.phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-circle {
	border-color: #272d6b;
	opacity: 0.5;
}
.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-circle {
	border-color: #202147;
	opacity: 0.5;
}
.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-circle,
.phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-circle {
	border-color: #ccc;
	opacity: 0.5;
}
.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-circle {
	border-color: #75eb50;
	opacity: 0.5;
}
.phonering-alo-ph-circle-fill {
	width: 100px;
	height: 100px;
	top: 50px;
	left: 50px;
	position: absolute;
	background-color: #000;
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
	animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
	transition: all 0.5s;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-circle-fill {
	-webkit-animation: phonering-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
	animation: phonering-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
}
.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-circle-fill {
	-webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
	animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
	opacity: 0 !important;
}
.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-circle-fill,
.phonering-alo-phone:hover .phonering-alo-ph-circle-fill {
	background-color: rgba(39, 45, 107, 0.5);
	opacity: 0.75 !important;
}
.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-circle-fill,
.phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-circle-fill {
	background-color: rgba(39, 45, 107, 0.5);
	opacity: 0.75 !important;
}
.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-circle-fill {
	background-color: rgba(0, 175, 242, 0.5);
}
.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-circle-fill,
.phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-circle-fill {
	background-color: rgba(204, 204, 204, 0.5);
	opacity: 0.75 !important;
}
.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-circle-fill {
	background-color: rgba(117, 235, 80, 0.5);
	opacity: 0.75 !important;
}
.phonering-alo-ph-img-circle {
	width: 60px;
	height: 60px;
	top: 70px;
	left: 70px;
	position: absolute;
	/* background: url(./img/chat.png) no-repeat center center; */
	border-radius: 100%;
	border: 2px solid transparent;
	-webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
	animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.phonering-alo-ph-img-circle img {
	width: 100%;
}

.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-img-circle {
	-webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out !important;
	animation: phonering-alo-circle-img-anim 1s infinite ease-in-out !important;
}

.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-img-circle {
	-webkit-animation: phonering-alo-circle-img-anim 0 infinite ease-in-out !important;
	animation: phonering-alo-circle-img-anim 0 infinite ease-in-out !important;
}

.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-img-circle,
.phonering-alo-phone:hover .phonering-alo-ph-img-circle {
	background-color: #00aff2;
}

.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-img-circle,
.phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-img-circle {
	background-color: #272d6b;
}

.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-img-circle {
	background-color: #e13a4b;
}

.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-img-circle,
.phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-img-circle {
	background-color: #ccc;
}

.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-img-circle {
	background-color: #75eb50;
}

@keyframes phonering-alo-circle-anim {
	0% {
		-webkit-transform: rotate(0) scale(0.5) skew(1deg);
		transform: rotate(0) scale(0.5) skew(1deg);
		opacity: 0.1;
	}

	30% {
		-webkit-transform: rotate(0) scale(0.7) skew(1deg);
		transform: rotate(0) scale(0.7) skew(1deg);
		opacity: 0.5;
	}

	100% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
		transform: rotate(0) scale(1) skew(1deg);
		opacity: 0.1;
	}
}

@keyframes phonering-alo-circle-fill-anim {
	0% {
		-webkit-transform: rotate(0) scale(0.7) skew(1deg);
		transform: rotate(0) scale(0.7) skew(1deg);
		opacity: 0.2;
	}

	50% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
		transform: rotate(0) scale(1) skew(1deg);
		opacity: 0.2;
	}

	100% {
		-webkit-transform: rotate(0) scale(0.7) skew(1deg);
		transform: rotate(0) scale(0.7) skew(1deg);
		opacity: 0.2;
	}
}

@keyframes phonering-alo-circle-img-anim {
	0% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
		transform: rotate(0) scale(1) skew(1deg);
	}

	10% {
		-webkit-transform: rotate(-25deg) scale(1) skew(1deg);
		transform: rotate(-25deg) scale(1) skew(1deg);
	}

	20% {
		-webkit-transform: rotate(25deg) scale(1) skew(1deg);
		transform: rotate(25deg) scale(1) skew(1deg);
	}

	30% {
		-webkit-transform: rotate(-25deg) scale(1) skew(1deg);
		transform: rotate(-25deg) scale(1) skew(1deg);
	}

	40% {
		-webkit-transform: rotate(25deg) scale(1) skew(1deg);
		transform: rotate(25deg) scale(1) skew(1deg);
	}

	50% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
		transform: rotate(0) scale(1) skew(1deg);
	}

	100% {
		-webkit-transform: rotate(0) scale(1) skew(1deg);
		transform: rotate(0) scale(1) skew(1deg);
	}
}

.goods {
	padding-block: 50px;
	overflow: hidden;
	/* background-image: url(../img/thirdSection.png); */
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	background-position: top center;
}
.prodcut__list-img {
	width: 100%;
	border-radius: 10px;
}

.swiper1,
.swiper2,
.swiper3 {
	    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}

.swiper-pagination,
.swiper-pagination1,
.swiper-pagination2,
.swiper-pagination3 {
	text-align: center;
	margin-top: 50px;
	position: static;
}

.swiper-pagination-bullet-active {
	background-color: #272d6b;
}



.modal,
.modal-basket {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(204, 204, 204, 0.5);
	position: fixed;
	inset: 0;
	z-index: 10;
	transition: 0.5s;
	opacity: 0;
	pointer-events: none;
}

.modal.active,
.modal-basket.active {
	pointer-events: all;
	opacity: 1;
}

.modal-wrapper,
.modal-basket-wrapper {
	min-width: 500px;
	padding: 1em;
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	background-color: #fff;
	border-radius: 20px;
	position: relative;
}

.modal-form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.modal-form-field,
.modal-form-textarea {
	padding: 10px;
	border-radius: 10px;
	border: none;
	outline: none;
	border: 1px solid rgba(42, 8, 8, 0.1);
}


.modal-form-textarea {
	resize: none;
}

.modal-form-submit {
	text-transform: uppercase;
	background-color: #e13a4b;
	border-radius: 25px;
	color: #fff;
	font-size: 16px;
	border: none;
	font-weight: 400;
	padding: 8px 40px;
	letter-spacing: 0.3px;
	text-decoration: none;
	display: inline-block;
	font-family: "Furore";
}

.black {
	color: #2e2e2e;
	margin-top: 0;
}

.close,
.close1 {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 20px;
	cursor: pointer;
}

.basket {
	width: 30px;
	background-color: #fff;
	border-radius: 50%;
	padding: 5px;
}

.basket_wrap {
	position: relative;
}

.basket_num {
	position: absolute;
	right: -9px;
	bottom: -3px;
	font-size: 12px;
	color: #fff;
	background-color: #343434;
	border-radius: 50%;
	padding: 2px 5px;
}

.facts {
	background-image: url(../img/back2.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 80px;
	padding-bottom: 150px;
}

.facts__wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 40px;
}

.facts__title {
	font-size: 46px;
	color: #e13a4b;
	margin-top: 20px;
	text-align: center;
	text-align: center;
	margin-bottom: 100px;
	text-transform: uppercase;
}

.facts__items-info {
	padding: 30px;
	background-color: #fff;
	text-align: center;
}

.facts__items-img {
	width: 100%;
}

.facts__items-title {
	color: #e13a4b;
	margin-bottom: 20px;
	font-size: 1.875em;
	font-weight: 400;
	line-height: 30px;
}
.facts__items {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.facts__items-text {
	height: 140px;
	line-height: 1.2;
}

.modal-basket-wrapper {
	overflow-y: scroll;
    height: 80vh;
}

.modal-basket-goods-item {
	display: flex;
	justify-content: space-between;
	border: 1px solid;
	padding: 1em;
}
.modal-basket-goods-item:not(:last-child) {
	
}


.modal-basket-goods-item img {
	width: 100px;
}

.count {
	display: flex;
	align-items: center;
	gap: 15px;
}

.count__btn {
	background-color: inherit;
	border: none;
	font-family: "Furore";
	font-size: 22px;
	color: #343434;
}

.modal-basket-goods {
	margin-bottom: 30px;
	border: 1px solid #2e2e2e;
}